/* --------- Heading and Paragraph Section --------- */

h1,h2,h3,h4,h5,h6 { padding: 1rem; margin: 1rem; text-align: center; }

h1 { font-size: 2.0rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.3rem; }
h4 { font-size: 1.1rem; }
h5 { font-size: 0.8rem; }
h6 { font-size: 0.9rem; }

p  { text-align: left; line-height: 1.5rem; }


/* --------- list and blockquote Section --------- */

blockquote {
	border: 0.2rem solid #176171;
	border-radius: 1rem;
	background-color: #000000;
	color: #f7f7f7;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
	margin: auto;
	white-space: pre-line;
}

li {
	padding: 0.5rem;
	font-weight: bold;
	font-style: italic;
}

li p {
    display: inline; /* Removes the extra line break from the paragraph */
}

/* --------- Horizontal Rule Section --------- */
/* Hide a other HRs when adjacent to .hr-system */
hr.hr-system+hr:not(.hr-system),
hr:not(.hr-system):has(+ hr.hr-system) {
	display: none;
}